.barcode-manage-page {
  padding: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .barcode-manage-result-card-container {
    width: 100%;
    flex: 1;
    min-height: 0;

    .ant-card-body {
      min-height: 0;
      max-height: 100%;
    }
  }
}
